.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hello {
  background-color: rgb(43, 161, 122);
  color: violet;
}

.div {
  background-color: aquamarine;
  color: #282c34;
  padding: 40px;
  border-radius: 15px;
  border: 5px solid red;
  margin-bottom: 25px;
}
.div2 {
  background-color: rgb(178, 214, 110);
  color: #282c34;
  padding: 40px;
  border-radius: 15px;
  border: 5px solid red;
  margin-bottom: 25px;
}
.div h2 {
  font-size: 30px;
  color: rgb(24, 23, 23);
  text-transform: capitalize;
}
.div2 h2 {
  font-size: 30px;
  color: rgb(24, 23, 23);
  text-transform: capitalize;
}
.div h1 {
  font-size: 40px;
  color: rgb(24, 23, 23);
  text-transform: capitalize;
}
.div2 h1 {
  font-size: 40px;
  color: rgb(24, 23, 23);
  text-transform: capitalize;
}
